<div ng-controller="ShellController">
    
    <div ng-view>
    </div>
    

        <script type="text/html" data-controller="DbDetailsController">
            <ul>
                <li ng-repeat="table in databaseDetails.Tables"><a href="" ng-click="tableData(table)">{{table.Name}}</a> </li>
            </ul>
        </script>

    <script type="text/html" data-controller="DbListController">
        <div class="row">

            <div class="large-8 columns">
                <div class="row collapse">
                    <div class="small-8 columns"><input type="text" ng-model="server" placeholder="type a database server" /></div>
                    <div class="small-4 columns"><input type="button" class="button postfix" value="Use this server" ng-click="setServer()" /></div>
                </div>
                
               
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">

                <ul ng-if="databases">
                    <li ng-repeat="db in databases"><a ng-href="/{{safeServerName}}/{{db.Name}}">{{db.Name}}</a></li>
                </ul>
            </div>
        </div>
    </script>


        
        <script type="text/html" data-controller="TableDataController">
            <div id="pager"><a href="" ng-click="pageLeft()"><i class="left arrow icon"></i></a> <a href="" ng-click="pageRight()"><i class="right arrow icon"></i></a></div>
            <table id="table-data" class="">
                <thead>
                    <tr>
                        <th ng-if="table.References">
                            &nbsp;
                        </th>
                        <th ng-class="{pk:t.IsPrimaryKey}" ng-repeat="t in table.Columns">{{t.Name}}</th>
                    </tr>
                    <tr>
                        <td ng-if="table.References">
                            REFS
                        </td>
                        <td ng-repeat="t in table.Columns">{{t.DataType}}</td>
                    </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="row in data.Rows">
                        <td ng-if="table.References">
                            <a href="" ng-click="referenceTo(row, r)" ng-repeat="r in table.References">{{r.PkTableName}} </a>
                        </td>
                        <td ng-repeat="c in row track by $index">
                            {{c}}

                        </td>
                    </tr>

                </tbody>
            </table>
            <div mcv-pager="data">

            </div>
        </script>



</div>
