.mru-list {
    border: solid 1px black;
    padding: 5px;
    background-color: rgb(255, 246, 236);
    position: absolute;
    z-index: 100;
}

.mru-list li {
    padding: 1px;
}

.mru-list li.selected {
    background-color: bisque;
        border: solid 1px black;
    padding: 0;
}



.mru-list li:hover {
    background-color: bisque;

}

[mcv-mru-list] {
    position: relative;
}

.dbList {
-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.dbList li {
}

.arrow-down {
    display: inline-block;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 15px solid #f00;
    margin: 0 3px 0 3px;
}


     .waitingIndicator {
         position: absolute;
         width: 50px;
         height: 50px;

         top: 50%;
         left: 50%;

         margin: -25px 0 0 -25px;

         background-color: blue;
         opacity: .7;
         
         -webkit-animation-iteration-count: infinite;
         -moz-animation-iteration-count: infinite;
         -ms-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
         animation-iteration-count: infinite;
         -webkit-animation-duration: 3s;
         -moz-animation-duration: 3s;
         -ms-animation-duration: 3s;
         -o-animation-duration: 3s;
         animation-duration: 3s;
         -webkit-animation-name: rotation;
         -moz-animation-name: rotation;
         -ms-animation-name: rotation;
         -o-animation-name: rotation;
         animation-name: rotation;
         -webkit-animation-timing-function: linear;
         -moz-animation-timing-function: linear;
         -ms-animation-timing-function: linear;
         -o-animation-timing-function: linear;
         animation-timing-function: linear
     }


     
     @-webkit-keyframes rotation {
         0% {
             -webkit-transform:rotate(0deg) scale(1);
         }
         50% {
             -webkit-transform:rotate(180deg) scale(3);
         }
         100% {
             -webkit-transform:rotate(360deg) scale(1);
         }
         }
     @keyframes rotation {
         0% {
             transform:rotate(0deg) scale(1);
         }
         50% {
             transform:rotate(180deg) scale(3);
         }
         100% {
             transform:rotate(360deg) scale(1);
         }
         }

     .errorIndicator {
         position: absolute;
         width: 100%;
         padding: 15px 0;
         background-color: lightblue;
         top: 20%;
         left:0
     }
     .errorIndicator>div {
         text-align: center
     }
