<!DOCTYPE html>
<html ng-app="dbexplorer" ng-controller="MainController">
    <head>
        <base href="/" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{title}}</title>
        @Styles.Render("~/Content/css")
    </head>
<body>
        @RenderBody()
    
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
    
    <http-notification ></http-notification>
</body>
</html>
